/*  your css code here. If applicable */
.card {
      width: 300px;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      border-radius: 10px;
      text-align: center;
    }

    /* Image */
    .card img {
      width: 100%;
      border-radius: 10px;
    }

    /* Title */
    .card h1 {
      font-size: 22px;
      margin: 15px 0;
    }

    /* Price */
    .price {
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    /* Description */
    .description {
      font-size: 20px;
	 font-weight:bold;
      margin: 10px 0 20px;
    }

    /* Button */
    .card button {
      padding: 10px 20px;
      background-color: rgb(255,25,25);
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .card button:hover {
      background-color: #0056b3;
    }